body{
  font-size: 43px;
  background: #E0E0E0;
}
#gameBoardHTML{
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 20px auto;
}
.cell {
    width: 100px;
    height: 100px;
    font-size: 100px;
    text-align: center;
    background-color: white;
    border: 2px solid #E0E0E0;
    box-sizing: border-box;
}
.cell:hover {
  background-color: blue;
}
#resultHTML,
#turnHTML {
  width: 300px;
  margin: 0 auto;
  font-size: 30px;
}
.modal-setup{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  margin: 20px auto;
  box-sizing: border-box;
  background-color: #1E88E5;
  font-size: 18px;
}
.setUpUI{
  width: 60%;
  font-size: 24px;
}
input{
  margin: 12px 0;
  width: 100%;
  height: 30px;
  font-size: 24px;
}
#playBtn, form input{
  height: 35px;
  width: 33%;
  margin: 0 33%;
  font-size: 16px;
  background-color: #F4511E;
  border: none;
  border-radius: 6px;
}
.hidden{
  display: none;
}
.show {
  display: block;
}
form{
  width: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 320px){
  #gameBoardHTML{
    width: 100%;
  }
  .modal-setup{
    width: 100%;
  }
  .cell{
    width: 33%;
    height: 33%;
  }
  #resultHTML,
  #turnHTML{

  }
  form{
    width: 300px;
  }
}
@media screen and (max-width: 576px){
  #gameBoardHTML{
    width: 420px;
    height: 420px;
  }
  .modal-setup{
    width: 420px;
    height: 420px;
  }
  .cell{
    width: 140px;
    height: 140px;
    font-size: 140px;
    background-color: white;
  }
  #resultHTML,
  #turnHTML{

  }
  form{
    width: 420px;
  }
}
@media screen and (min-width: 577px){
  #gameBoardHTML{
    width: 510px;
    height: 510px;
  }
  .modal-setup{
    width: 510px;
    height: 510px;
  }
  .cell{
    width: 170px;
    height: 170px;
    font-size: 170px;
    background-color: white;
  }
  #resultHTML,
  #turnHTML{

  }
  form{
    width: 510px;
  }
}
